Repository openshift-storage-scale/openshift-fusion-access-operator: changes, and which Tekton pipelines are due for each by the changed paths.
All: console-plugin-0-1-on-pull-request, operator-bundle-0-1-on-push

.tekton/console-plugin-0-1-on-pull-request.yaml:

apiVersion: tekton.dev/v1
kind: PipelineRun
metadata:
  annotations:
    build.appstudio.openshift.io/repo: https://github.com/openshift-storage-scale/openshift-fusion-access-operator?rev={{revision}}
    build.appstudio.redhat.com/commit_sha: '{{revision}}'
    build.appstudio.redhat.com/pull_request_number: '{{pull_request_number}}'
    build.appstudio.redhat.com/target_branch: '{{target_branch}}'
    pipelinesascode.tekton.dev/cancel-in-progress: "true"
    pipelinesascode.tekton.dev/max-keep-runs: "3"
    pipelinesascode.tekton.dev/on-cel-expression: event == "pull_request" && target_branch == "main" && (
      "console/***".pathChanged() ||
      "VERSION.txt".pathChanged() ||
      ".tekton/console-plugin-0-1-on-pull-request.yaml".pathChanged() ||
      "templates/console-plugin.Dockerfile.template".pathChanged()
      )
  creationTimestamp: null
  labels:
    appstudio.openshift.io/application: operator-0-1
    appstudio.openshift.io/component: console-plugin-0-1
    pipelines.appstudio.openshift.io/type: build
  name: console-plugin-0-1-on-pull-request
  namespace: storage-scale-releng-tenant
spec:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/storage-scale-releng-tenant/console-plugin-rhel9:on-pr-{{revision}}
  - name: image-expires-after
    value: 5d
  - name: dockerfile
    value: console-plugin.Dockerfile
  - name: prefetch-input
    value: [{"type": "npm", "path": "console/"},]
    # TODO switch to yarn at some point
    # {"type": "yarn", "path": "console/"},]
  pipelineRef:
    name: console-plugin-common
  taskRunTemplate:
    serviceAccountName: build-pipeline-console-plugin-0-1
  workspaces:
  - name: git-auth
    secret:
      secretName: '{{ git_auth_secret }}'
status: {}

.tekton/operator-bundle-0-1-on-push.yaml:

apiVersion: tekton.dev/v1
kind: PipelineRun
metadata:
  annotations:
    build.appstudio.openshift.io/repo: https://github.com/openshift-storage-scale/openshift-fusion-access-operator?rev={{revision}}
    build.appstudio.redhat.com/commit_sha: '{{revision}}'
    build.appstudio.redhat.com/target_branch: '{{target_branch}}'
    pipelinesascode.tekton.dev/cancel-in-progress: "false"
    pipelinesascode.tekton.dev/max-keep-runs: "3"
    pipelinesascode.tekton.dev/on-cel-expression: event == "push" && target_branch == "main" &&
      ("templates/bundle.Dockerfile.template".pathChanged() ||
      ".tekton/operator-bundle-0-1-on-push.yaml".pathChanged() ||
      "bundle/***".pathChanged() ||
      "nudges/***".pathChanged() ||
      "scripts/generate-bundle-for-konflux.sh".pathChanged())
  creationTimestamp: null
  labels:
    appstudio.openshift.io/application: operator-0-1
    appstudio.openshift.io/component: operator-bundle-0-1
    pipelines.appstudio.openshift.io/type: build
  name: operator-bundle-0-1-on-push
  namespace: storage-scale-releng-tenant
spec:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/storage-scale-releng-tenant/operator-bundle:{{revision}}
  - name: dockerfile
    value: bundle.Dockerfile
  pipelineRef:
    name: operator-bundle-common
  taskRunTemplate:
    serviceAccountName: build-pipeline-operator-bundle-0-1
  workspaces:
  - name: git-auth
    secret:
      secretName: '{{ git_auth_secret }}'
status: {}

fix: update file system retrieval logic in useFileSystemClaimsTableRowViewModel
  console/src/ui/file-system-claims/view-models/use_file_system_claims_table_row_view_model.ts
Due: console-plugin-0-1-on-pull-request

feat: add maxOpenShiftVersion annotation
  config/manifests/bases/openshift-fusion-access-operator.clusterserviceversion.yaml
Due: none

build: build 1.1.0-0.9
  VERSION.txt
  catalog-templates/1.1.0-0.9.yaml
Due: console-plugin-0-1-on-pull-request

chore(deps): update tekton pipeline task references
  .tekton/console-plugin-common.yaml
  .tekton/controller-rhel9-operator-common.yaml
  .tekton/devicefinder-common.yaml
  .tekton/operator-bundle-common.yaml
Due: none

build: bump version number to 1.1.0-1 for GA release
  VERSION.txt
Due: console-plugin-0-1-on-pull-request

chore(build): bump version number to 1.1.0-1 for GA release
  VERSION.txt
Due: console-plugin-0-1-on-pull-request

chore(build): force rebuild with meaningless change to pipeline common files
  .tekton/console-plugin-common.yaml
  .tekton/controller-rhel9-operator-common.yaml
  .tekton/devicefinder-common.yaml
  .tekton/operator-bundle-common.yaml
Due: none

save certified and release build 1.1.0-1 bundles plus catalog template
  catalog-templates/1.1.0-1.yaml
  certified-bundles/1.1.0-1/manifests/fusion-access-operator-console-plugin_v1_service.yaml
  certified-bundles/1.1.0-1/manifests/fusion-access-operator-filesystemclaim-admin-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  certified-bundles/1.1.0-1/manifests/fusion-access-operator-filesystemclaim-editor-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  certified-bundles/1.1.0-1/manifests/fusion-access-operator-filesystemclaim-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  certified-bundles/1.1.0-1/manifests/fusion-access-operator-fusionaccess-editor-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  certified-bundles/1.1.0-1/manifests/fusion-access-operator-fusionaccess-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  certified-bundles/1.1.0-1/manifests/fusion-access-operator-manager-role_rbac.authorization.k8s.io_v1_role.yaml
  certified-bundles/1.1.0-1/manifests/fusion-access-operator-webhook-service_v1_service.yaml
  certified-bundles/1.1.0-1/manifests/fusion.storage.openshift.io_filesystemclaims.yaml
  certified-bundles/1.1.0-1/manifests/fusion.storage.openshift.io_fusionaccesses.yaml
  certified-bundles/1.1.0-1/manifests/fusion.storage.openshift.io_localvolumediscoveries.yaml
  certified-bundles/1.1.0-1/manifests/fusion.storage.openshift.io_localvolumediscoveryresults.yaml
  certified-bundles/1.1.0-1/manifests/openshift-fusion-access-operator.clusterserviceversion.yaml
  certified-bundles/1.1.0-1/metadata/annotations.yaml
  certified-bundles/1.1.0-1/metadata/dependencies.yaml
  certified-bundles/1.1.0-1/tests/scorecard/config.yaml
  released-bundles/1.1.0-1/bundle/manifests/fusion-access-operator-console-plugin_v1_service.yaml
  released-bundles/1.1.0-1/bundle/manifests/fusion-access-operator-filesystemclaim-admin-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  released-bundles/1.1.0-1/bundle/manifests/fusion-access-operator-filesystemclaim-editor-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  released-bundles/1.1.0-1/bundle/manifests/fusion-access-operator-filesystemclaim-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  released-bundles/1.1.0-1/bundle/manifests/fusion-access-operator-fusionaccess-editor-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  released-bundles/1.1.0-1/bundle/manifests/fusion-access-operator-fusionaccess-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  released-bundles/1.1.0-1/bundle/manifests/fusion-access-operator-manager-role_rbac.authorization.k8s.io_v1_role.yaml
  released-bundles/1.1.0-1/bundle/manifests/fusion-access-operator-webhook-service_v1_service.yaml
  released-bundles/1.1.0-1/bundle/manifests/fusion.storage.openshift.io_filesystemclaims.yaml
  released-bundles/1.1.0-1/bundle/manifests/fusion.storage.openshift.io_fusionaccesses.yaml
  released-bundles/1.1.0-1/bundle/manifests/fusion.storage.openshift.io_localvolumediscoveries.yaml
  released-bundles/1.1.0-1/bundle/manifests/fusion.storage.openshift.io_localvolumediscoveryresults.yaml
  released-bundles/1.1.0-1/bundle/manifests/openshift-fusion-access-operator.clusterserviceversion.yaml
  released-bundles/1.1.0-1/bundle/metadata/annotations.yaml
  released-bundles/1.1.0-1/bundle/metadata/dependencies.yaml
  released-bundles/1.1.0-1/bundle/tests/scorecard/config.yaml
  released-bundles/1.1.0-1/cmd.txt
Due: none

refactor: remove StorageClass default virt-class annotation (OCPNAS-394)
  internal/controller/filesystemclaim/filesystemclaim_controller.go
  internal/controller/filesystemclaim/filesystemclaim_controller_creation_test.go
Due: none

Update task bundles in controller-rhel9-operator-common.yaml
  .tekton/controller-rhel9-operator-common.yaml
Due: none

Update task-rpms-signature-scan image digest
  .tekton/operator-bundle-common.yaml
Due: none

Update task-rpms-signature-scan image digest
  .tekton/console-plugin-common.yaml
Due: none

Update task-rpms-signature-scan image digest
  .tekton/devicefinder-common.yaml
Due: none

Implemented reviews posted in slack
  internal/controller/filesystemclaim/filesystemclaim_controller_creation_test.go
Due: none

test: trigger CI pipeline to validate digest changes
  README.md
Due: none

test: add comment to trigger full Konflux pipeline
  .tekton/console-plugin-common.yaml
Due: none

test: temporarily modify digest to trigger Konflux pipeline
  .tekton/console-plugin-common.yaml
Due: none

test: restore original digest after triggering pipeline
  .tekton/console-plugin-common.yaml
Due: none

test: trigger all Konflux component pipelines
  .tekton/controller-rhel9-operator-common.yaml
  .tekton/devicefinder-common.yaml
  .tekton/operator-bundle-common.yaml
Due: none

fix: update critical Tekton task digests to latest versions
  .tekton/console-plugin-common.yaml
  .tekton/devicefinder-common.yaml
  .tekton/operator-bundle-common.yaml
Due: none

fix: update remaining critical Tekton task digests (batch 2)
  .tekton/console-plugin-common.yaml
  .tekton/devicefinder-common.yaml
  .tekton/operator-bundle-common.yaml
Due: none

chore: update final 3 Tekton task digests for Enterprise Contract compliance
  .tekton/console-plugin-common.yaml
  .tekton/controller-rhel9-operator-common.yaml
  .tekton/devicefinder-common.yaml
  .tekton/operator-bundle-common.yaml
Due: none

trigger: force pipeline run on updated digest commits
  README.md
Due: none

fix: add required CPE label to bundle.Dockerfile template for Enterprise Contract compliance
  templates/bundle.Dockerfile.template
Due: operator-bundle-0-1-on-push

cleanup: remove test comments and exclude validation scripts
  .gitignore
  .tekton/console-plugin-common.yaml
  README.md
Due: none

update task refs
  .tekton/console-plugin-common.yaml
  .tekton/controller-rhel9-operator-common.yaml
  .tekton/devicefinder-common.yaml
  .tekton/operator-bundle-common.yaml
Due: none

fix: update Tekton task digests for Enterprise Contract compliance
  .github/workflows/build-console.yaml
  .github/workflows/lint.yaml
  .github/workflows/sanity-checks.yaml
  .tekton/console-plugin-common.yaml
  .tekton/controller-rhel9-operator-common.yaml
  .tekton/devicefinder-common.yaml
  .tekton/operator-bundle-common.yaml
  console/charts/openshift-console-plugin/values.yaml
  console/package-lock.json
  console/package.json
  internal/controller/filesystemclaim/filesystemclaim_controller.go
  internal/controller/filesystemclaim/filesystemclaim_controller_creation_test.go
  nudges/consolePlugin.env
  nudges/deviceFinder.env
  nudges/operator.env
  templates/bundle.Dockerfile.template
Due: console-plugin-0-1-on-pull-request, operator-bundle-0-1-on-push
