Repository openshift-storage-scale/openshift-fusion-access-operator: changes, and which Tekton pipelines are due for each by the changed paths.
All: console-plugin-0-1-on-pull-request, controller-rhel9-operator-0-1-on-push, operator-bundle-0-1-on-push

console-plugin-0-1-on-pull-request:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/storage-scale-releng-tenant/console-plugin-rhel9:on-pr-{{revision}}
  - name: image-expires-after
    value: 5d
  - name: dockerfile
  ...

controller-rhel9-operator-0-1-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/storage-scale-releng-tenant/controller-rhel9-operator:{{revision}}
  - name: dockerfile
    value: operator.Dockerfile
  pipelineRef:
  ...

operator-bundle-0-1-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/storage-scale-releng-tenant/operator-bundle:{{revision}}
  - name: dockerfile
    value: bundle.Dockerfile
  pipelineRef:
    name: operator-bundle-common
  ...

Fix console-plugin-common to have the reference to ADDITIONAL_BASE_IMAGES in buildah
  .tekton/console-plugin-common.yaml
Due: none

Refactor the kmm module secret usage
  internal/controller/kernelmodule/kernelmodule.go
  internal/utils/utils.go
  internal/utils/utils_test.go
Due: controller-rhel9-operator-0-1-on-push

Add the created secret to the kmm module resource
  internal/controller/kernelmodule/kernelmodule.go
Due: controller-rhel9-operator-0-1-on-push

Test a thing
  internal/utils/utils_test.go
Due: controller-rhel9-operator-0-1-on-push

Fix pipeline cel expression to include common pipeline
  .tekton/console-plugin-0-1-on-pull-request.yaml
  .tekton/console-plugin-0-1-on-push.yaml
  .tekton/controller-rhel9-operator-0-1-on-pull-request.yaml
  .tekton/controller-rhel9-operator-0-1-on-push.yaml
  .tekton/devicefinder-0-1-on-pull-request.yaml
  .tekton/devicefinder-0-1-on-push.yaml
  .tekton/operator-bundle-0-1-on-pull-request.yaml
  .tekton/operator-bundle-0-1-on-push.yaml
Due: console-plugin-0-1-on-pull-request, controller-rhel9-operator-0-1-on-push, operator-bundle-0-1-on-push

Hardcode the run-script base image in the ADDITIONAL_BASE_IMAGES param in the buildah task
  .tekton/console-plugin-common.yaml
  .tekton/controller-rhel9-operator-common.yaml
  .tekton/devicefinder-common.yaml
  .tekton/operator-bundle-common.yaml
Due: none

Add quotes to base image references in buildah's ADDITIONAL_BASE_IMAGES
  .tekton/console-plugin-common.yaml
  .tekton/controller-rhel9-operator-common.yaml
  .tekton/devicefinder-common.yaml
  .tekton/operator-bundle-common.yaml
Due: none

Parametrize script-base-image
  .tekton/console-plugin-common.yaml
  .tekton/controller-rhel9-operator-common.yaml
  .tekton/devicefinder-common.yaml
  .tekton/operator-bundle-common.yaml
Due: none

Add image digest to the script-base-image parameter
  .tekton/console-plugin-common.yaml
  .tekton/controller-rhel9-operator-common.yaml
  .tekton/devicefinder-common.yaml
  .tekton/operator-bundle-common.yaml
Due: none

Add extra pull secret functionality
  internal/controller/secret.go
Due: controller-rhel9-operator-0-1-on-push

Add original install manifest
  files/v5.2.3.1/install.yaml
Due: none

Apply the needed changes for Fusion Access for SAN
  files/v5.2.3.1/install.yaml
Due: none

Drop old non GA version v5.2.3.1.dev3
  api/v1alpha1/fusionaccess_types.go
  files/v5.2.3.1.dev3/install.yaml
  internal/controller/fusionaccess_controller_test.go
Due: controller-rhel9-operator-0-1-on-push

Regenerate all files after dropping v5.2.3.1.dev3
  api/v1alpha1/fusionaccess_types.go
  config/crd/bases/fusion.storage.openshift.io_fusionaccesses.yaml
  config/manifests/bases/openshift-fusion-access-operator.clusterserviceversion.yaml
Due: controller-rhel9-operator-0-1-on-push

Release 0.9.2
  VERSION.txt
Due: console-plugin-0-1-on-pull-request, controller-rhel9-operator-0-1-on-push

Release bundle 0.9.2
  released-bundles/0.9.2/bundle/manifests/fusion-access-operator-console-plugin_v1_service.yaml
  released-bundles/0.9.2/bundle/manifests/fusion-access-operator-fusionaccess-editor-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  released-bundles/0.9.2/bundle/manifests/fusion-access-operator-fusionaccess-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  released-bundles/0.9.2/bundle/manifests/fusion-access-operator-manager-role_rbac.authorization.k8s.io_v1_role.yaml
  released-bundles/0.9.2/bundle/manifests/fusion-access-operator-webhook-service_v1_service.yaml
  released-bundles/0.9.2/bundle/manifests/fusion.storage.openshift.io_fusionaccesses.yaml
  released-bundles/0.9.2/bundle/manifests/fusion.storage.openshift.io_localvolumediscoveries.yaml
  released-bundles/0.9.2/bundle/manifests/fusion.storage.openshift.io_localvolumediscoveryresults.yaml
  released-bundles/0.9.2/bundle/manifests/openshift-fusion-access-operator.clusterserviceversion.yaml
  released-bundles/0.9.2/bundle/metadata/annotations.yaml
  released-bundles/0.9.2/bundle/metadata/dependencies.yaml
  released-bundles/0.9.2/bundle/tests/scorecard/config.yaml
  released-bundles/0.9.2/cmd.txt
Due: none

Fix release steps
  RELEASE.md
  scripts/konflux-release.sh
  scripts/release.sh
Due: none

Fix release steps (2)
  RELEASE.md
Due: none

Use digest 1dcc9805bdc20708f87126455c01e0c49be9d79f0c140220a71c85e49979b96d for task-run-script-oci-ta to fix build script issue
  .tekton/console-plugin-common.yaml
  .tekton/controller-rhel9-operator-common.yaml
  .tekton/devicefinder-common.yaml
  .tekton/operator-bundle-common.yaml
Due: none

Revert "Parametrize script-base-image"
  .tekton/console-plugin-common.yaml
  .tekton/controller-rhel9-operator-common.yaml
  .tekton/devicefinder-common.yaml
  .tekton/operator-bundle-common.yaml
Due: none

Revert workaround to avoid problems with the SCRIPT_RUNNER_IMAGE_REFERENCE parameter being wrongly formatted that caused the ECP violations
  .tekton/console-plugin-common.yaml
  .tekton/controller-rhel9-operator-common.yaml
  .tekton/devicefinder-common.yaml
  .tekton/operator-bundle-common.yaml
Due: none

Try and force a minimum kmm version via olm.package
  config/olm-dependencies.yaml
Due: controller-rhel9-operator-0-1-on-push

Update github.com/openshift/api digest to 41708f6
  go.mod
  go.sum
  vendor/github.com/TwiN/deepmerge/.gitattributes
  vendor/github.com/TwiN/deepmerge/.gitignore
  vendor/github.com/TwiN/deepmerge/LICENSE
  vendor/github.com/TwiN/deepmerge/README.md
  vendor/github.com/TwiN/deepmerge/config.go
  vendor/github.com/TwiN/deepmerge/deepmerge.go
  vendor/github.com/TwiN/deepmerge/json.go
  vendor/github.com/TwiN/deepmerge/yaml.go
  vendor/github.com/openshift/api/.ci-operator.yaml
  vendor/github.com/openshift/api/Dockerfile.ocp
  vendor/github.com/openshift/api/config/v1/types_cluster_image_policy.go
  vendor/github.com/openshift/api/config/v1/types_cluster_version.go
  vendor/github.com/openshift/api/config/v1/types_image_policy.go
  vendor/github.com/openshift/api/config/v1/zz_generated.deepcopy.go
  vendor/github.com/openshift/api/config/v1/zz_generated.featuregated-crd-manifests.yaml
  vendor/github.com/openshift/api/config/v1/zz_generated.swagger_doc_generated.go
  vendor/github.com/openshift/api/features.md
  vendor/github.com/openshift/api/operator/v1/types_network.go
  vendor/github.com/openshift/api/operator/v1/zz_generated.swagger_doc_generated.go
  vendor/modules.txt
Due: controller-rhel9-operator-0-1-on-push

Update github.com/openshift/library-go digest to 60108c9
  go.mod
  go.sum
  vendor/github.com/TwiN/deepmerge/.gitattributes
  vendor/github.com/TwiN/deepmerge/.gitignore
  vendor/github.com/TwiN/deepmerge/LICENSE
  vendor/github.com/TwiN/deepmerge/README.md
  vendor/github.com/TwiN/deepmerge/config.go
  vendor/github.com/TwiN/deepmerge/deepmerge.go
  vendor/github.com/TwiN/deepmerge/json.go
  vendor/github.com/TwiN/deepmerge/yaml.go
  vendor/modules.txt
Due: controller-rhel9-operator-0-1-on-push

Update module github.com/google/gnostic-models to v0.7.0
  go.mod
  go.sum
  vendor/github.com/TwiN/deepmerge/.gitattributes
  vendor/github.com/TwiN/deepmerge/.gitignore
  vendor/github.com/TwiN/deepmerge/LICENSE
  vendor/github.com/TwiN/deepmerge/README.md
  vendor/github.com/TwiN/deepmerge/config.go
  vendor/github.com/TwiN/deepmerge/deepmerge.go
  vendor/github.com/TwiN/deepmerge/json.go
  vendor/github.com/TwiN/deepmerge/yaml.go
  vendor/github.com/google/gnostic-models/compiler/context.go
  vendor/github.com/google/gnostic-models/compiler/extensions.go
  vendor/github.com/google/gnostic-models/compiler/helpers.go
  vendor/github.com/google/gnostic-models/compiler/reader.go
  vendor/github.com/google/gnostic-models/jsonschema/models.go
  vendor/github.com/google/gnostic-models/jsonschema/reader.go
  vendor/github.com/google/gnostic-models/jsonschema/writer.go
  vendor/github.com/google/gnostic-models/openapiv2/OpenAPIv2.go
  vendor/github.com/google/gnostic-models/openapiv2/document.go
  vendor/github.com/google/gnostic-models/openapiv3/OpenAPIv3.go
  vendor/github.com/google/gnostic-models/openapiv3/document.go
  vendor/go.yaml.in/yaml/v3/LICENSE
  vendor/go.yaml.in/yaml/v3/NOTICE
  vendor/go.yaml.in/yaml/v3/README.md
  vendor/go.yaml.in/yaml/v3/apic.go
  vendor/go.yaml.in/yaml/v3/decode.go
  vendor/go.yaml.in/yaml/v3/emitterc.go
  vendor/go.yaml.in/yaml/v3/encode.go
  vendor/go.yaml.in/yaml/v3/parserc.go
  vendor/go.yaml.in/yaml/v3/readerc.go
  vendor/go.yaml.in/yaml/v3/resolve.go
  vendor/go.yaml.in/yaml/v3/scannerc.go
  vendor/go.yaml.in/yaml/v3/sorter.go
  vendor/go.yaml.in/yaml/v3/writerc.go
  vendor/go.yaml.in/yaml/v3/yaml.go
  vendor/go.yaml.in/yaml/v3/yamlh.go
  vendor/go.yaml.in/yaml/v3/yamlprivateh.go
  vendor/modules.txt
Due: controller-rhel9-operator-0-1-on-push

Update module github.com/Masterminds/semver/v3 to v3.4.0
  go.mod
  go.sum
  vendor/github.com/Masterminds/semver/v3/CHANGELOG.md
  vendor/github.com/Masterminds/semver/v3/README.md
  vendor/github.com/Masterminds/semver/v3/constraints.go
  vendor/github.com/Masterminds/semver/v3/version.go
  vendor/github.com/TwiN/deepmerge/.gitattributes
  vendor/github.com/TwiN/deepmerge/.gitignore
  vendor/github.com/TwiN/deepmerge/LICENSE
  vendor/github.com/TwiN/deepmerge/README.md
  vendor/github.com/TwiN/deepmerge/config.go
  vendor/github.com/TwiN/deepmerge/deepmerge.go
  vendor/github.com/TwiN/deepmerge/json.go
  vendor/github.com/TwiN/deepmerge/yaml.go
  vendor/modules.txt
Due: controller-rhel9-operator-0-1-on-push

Update module sigs.k8s.io/yaml to v1.5.0
  go.mod
  go.sum
  vendor/github.com/TwiN/deepmerge/.gitattributes
  vendor/github.com/TwiN/deepmerge/.gitignore
  vendor/github.com/TwiN/deepmerge/LICENSE
  vendor/github.com/TwiN/deepmerge/README.md
  vendor/github.com/TwiN/deepmerge/config.go
  vendor/github.com/TwiN/deepmerge/deepmerge.go
  vendor/github.com/TwiN/deepmerge/json.go
  vendor/github.com/TwiN/deepmerge/yaml.go
  vendor/go.yaml.in/yaml/v2/.travis.yml
  vendor/go.yaml.in/yaml/v2/LICENSE
  vendor/go.yaml.in/yaml/v2/LICENSE.libyaml
  vendor/go.yaml.in/yaml/v2/NOTICE
  vendor/go.yaml.in/yaml/v2/README.md
  vendor/go.yaml.in/yaml/v2/apic.go
  vendor/go.yaml.in/yaml/v2/decode.go
  vendor/go.yaml.in/yaml/v2/emitterc.go
  vendor/go.yaml.in/yaml/v2/encode.go
  vendor/go.yaml.in/yaml/v2/parserc.go
  vendor/go.yaml.in/yaml/v2/readerc.go
  vendor/go.yaml.in/yaml/v2/resolve.go
  vendor/go.yaml.in/yaml/v2/scannerc.go
  vendor/go.yaml.in/yaml/v2/sorter.go
  vendor/go.yaml.in/yaml/v2/writerc.go
  vendor/go.yaml.in/yaml/v2/yaml.go
  vendor/go.yaml.in/yaml/v2/yamlh.go
  vendor/go.yaml.in/yaml/v2/yamlprivateh.go
  vendor/modules.txt
  vendor/sigs.k8s.io/yaml/.travis.yml
  vendor/sigs.k8s.io/yaml/goyaml.v2/OWNERS
  vendor/sigs.k8s.io/yaml/goyaml.v2/README.md
  vendor/sigs.k8s.io/yaml/goyaml.v2/yaml_aliases.go
  vendor/sigs.k8s.io/yaml/yaml.go
  vendor/sigs.k8s.io/yaml/yaml_go110.go
Due: controller-rhel9-operator-0-1-on-push

Update module sigs.k8s.io/structured-merge-diff/v4 to v6
  go.mod
Due: controller-rhel9-operator-0-1-on-push

Add some release notes
  RELEASE.md
Due: none

Truncate the image hash
  internal/controller/kernelmodule/kernelmodule.go
Due: controller-rhel9-operator-0-1-on-push

Release 0.9.3
  VERSION.txt
Due: console-plugin-0-1-on-pull-request, controller-rhel9-operator-0-1-on-push

Release bundle 0.9.3
  released-bundles/0.9.3/bundle/manifests/fusion-access-operator-console-plugin_v1_service.yaml
  released-bundles/0.9.3/bundle/manifests/fusion-access-operator-fusionaccess-editor-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  released-bundles/0.9.3/bundle/manifests/fusion-access-operator-fusionaccess-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  released-bundles/0.9.3/bundle/manifests/fusion-access-operator-manager-role_rbac.authorization.k8s.io_v1_role.yaml
  released-bundles/0.9.3/bundle/manifests/fusion-access-operator-webhook-service_v1_service.yaml
  released-bundles/0.9.3/bundle/manifests/fusion.storage.openshift.io_fusionaccesses.yaml
  released-bundles/0.9.3/bundle/manifests/fusion.storage.openshift.io_localvolumediscoveries.yaml
  released-bundles/0.9.3/bundle/manifests/fusion.storage.openshift.io_localvolumediscoveryresults.yaml
  released-bundles/0.9.3/bundle/manifests/openshift-fusion-access-operator.clusterserviceversion.yaml
  released-bundles/0.9.3/bundle/metadata/annotations.yaml
  released-bundles/0.9.3/bundle/metadata/dependencies.yaml
  released-bundles/0.9.3/bundle/tests/scorecard/config.yaml
  released-bundles/0.9.3/cmd.txt
Due: none

Add some description, fix a link and email
  config/manifests/bases/openshift-fusion-access-operator.clusterserviceversion.yaml
Due: controller-rhel9-operator-0-1-on-push

Path conditions:
  console-plugin-0-1-on-pull-request: (((any of: console/***) or (any of: VERSION.txt)) or (any of: .tekton/console-plugin-0-1-on-pull-request.yaml)) or (any of: templates/console-plugin.Dockerfile.template)
  controller-rhel9-operator-0-1-on-push: ((((((((any of: go.mod) or (any of: VERSION.txt)) or (any of: cmd/main.go)) or (any of: config/***)) or (any of: internal/common/***)) or (any of: internal/controller/***)) or (any of: internal/utils/***)) or (any of: templates/operator.Dockerfile.template)) or (any of: .tekton/controller-rhel9-operator-0-1-on-push.yaml)
  operator-bundle-0-1-on-push: ((((any of: templates/bundle.Dockerfile.template) or (any of: .tekton/operator-bundle-0-1-on-push.yaml)) or (any of: bundle/***)) or (any of: nudges/***)) or (any of: scripts/generate-bundle-for-konflux.sh)
