Repository openshift-storage-scale/openshift-fusion-access-operator: changes, and which Tekton pipelines are due for each by the changed paths.
All: console-plugin-0-1-on-pull-request, controller-rhel9-operator-0-1-on-push, operator-bundle-0-1-on-push

console-plugin-0-1-on-pull-request:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/storage-scale-releng-tenant/console-plugin-rhel9:on-pr-{{revision}}
  - name: image-expires-after
    value: 5d
  - name: dockerfile
  ...

controller-rhel9-operator-0-1-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/storage-scale-releng-tenant/controller-rhel9-operator:{{revision}}
  - name: dockerfile
    value: operator.Dockerfile
  pipelineRef:
  ...

operator-bundle-0-1-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/storage-scale-releng-tenant/operator-bundle:{{revision}}
  - name: dockerfile
    value: bundle.Dockerfile
  pipelineRef:
    name: operator-bundle-common
  ...

feat: add learn more link to StorageClusterHomePage
  console/src/constants.ts
  console/src/features/storage-clusters/pages/StorageClusterHomePage.tsx
Due: console-plugin-0-1-on-pull-request

Add release-4.19 to the tekton triggers
  .tekton/console-plugin-0-1-on-pull-request.yaml
  .tekton/console-plugin-0-1-on-push.yaml
  .tekton/controller-rhel9-operator-0-1-on-pull-request.yaml
  .tekton/controller-rhel9-operator-0-1-on-push.yaml
  .tekton/devicefinder-0-1-on-pull-request.yaml
  .tekton/devicefinder-0-1-on-push.yaml
  .tekton/operator-bundle-0-1-on-pull-request.yaml
  .tekton/operator-bundle-0-1-on-push.yaml
Due: console-plugin-0-1-on-pull-request, controller-rhel9-operator-0-1-on-push, operator-bundle-0-1-on-push

refactor: update import paths for filesystem utilities to match casing
  console/src/features/file-systems/components/FileSystemsStorageClasses.tsx
  console/src/features/file-systems/hooks/useDeleteFileSystemHandler.ts
  console/src/features/file-systems/hooks/useFileSystemTableRowViewModel.ts
Due: console-plugin-0-1-on-pull-request

refactor: Improves hooks and modal attributes
  console/src/features/file-systems/components/FileSystemsDeleteModal.tsx
  console/src/features/file-systems/hooks/useCreateFileSystemHandler.ts
  console/src/features/file-systems/hooks/useFileSystemCreateFormViewModel.ts
  console/src/features/file-systems/hooks/useLunsViewModel.ts
  console/src/features/file-systems/hooks/useRoutes.ts
  console/src/features/storage-clusters/hooks/useValidateMinimumRequirements.ts
  console/src/shared/store/provider.tsx
Due: console-plugin-0-1-on-pull-request

refactor: rename and reorganize filesystem utility functions
  console/src/features/file-systems/components/FileSystemsStorageClasses.tsx
  console/src/features/file-systems/hooks/useDeleteFileSystemHandler.ts
  console/src/features/file-systems/hooks/useFileSystemTableRowViewModel.ts
  console/src/features/file-systems/utils/FileSystems.tsx
Due: console-plugin-0-1-on-pull-request

refactor: replace showAlert with addAlert in global state management
  console/src/constants.ts
  console/src/features/file-systems/hooks/useCreateFileSystemHandler.ts
  console/src/features/file-systems/hooks/useLunsViewModel.ts
  console/src/features/file-systems/pages/FileSystemsCreatePage.tsx
  console/src/features/file-systems/pages/FileSystemsHomePage.tsx
  console/src/features/storage-clusters/hooks/useCreateStorageClusterHandler.ts
  console/src/features/storage-clusters/hooks/useNodesSelectionTableRowViewModel.ts
  console/src/features/storage-clusters/hooks/useNodesSelectionTableViewModel.ts
  console/src/features/storage-clusters/hooks/useValidateMinimumRequirements.ts
  console/src/features/storage-clusters/pages/StorageClusterCreatePage.tsx
  console/src/features/storage-clusters/pages/StorageClusterHomePage.tsx
  console/src/shared/components/ListPage.tsx
  console/src/shared/components/ListPageAlert.tsx
  console/src/shared/store/reducer.ts
  console/src/shared/store/types.ts
Due: console-plugin-0-1-on-pull-request

fix: FS and SC are created even if the LocalDisk creation fails
  console/src/features/file-systems/hooks/useCreateFileSystemHandler.ts
  console/src/shared/hooks/useRedirectHandler.ts
Due: console-plugin-0-1-on-pull-request

fix: ensure loading state is updated correctly after file system creation
  console/src/features/file-systems/hooks/useCreateFileSystemHandler.ts
Due: console-plugin-0-1-on-pull-request

refactor: update file system and LUN properties for clarity and consistency
  console/src/features/file-systems/components/FileSystemCreateForm.tsx
  console/src/features/file-systems/components/FileSystemsDeleteModal.tsx
  console/src/features/file-systems/components/FileSystemsTableEmptyState.tsx
  console/src/features/file-systems/hooks/useCreateFileSystemHandler.ts
  console/src/features/file-systems/hooks/useFileSystemCreateFormViewModel.ts
  console/src/features/file-systems/hooks/useLunsViewModel.ts
  console/src/features/storage-clusters/components/NodesSelectionTable.tsx
  console/src/features/storage-clusters/hooks/useNodesSelectionTableViewModel.ts
Due: console-plugin-0-1-on-pull-request

Add bundle for certified catalog
  certified-bundles/0.9.3/manifests/fusion-access-operator-console-plugin_v1_service.yaml
  certified-bundles/0.9.3/manifests/fusion-access-operator-fusionaccess-editor-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  certified-bundles/0.9.3/manifests/fusion-access-operator-fusionaccess-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  certified-bundles/0.9.3/manifests/fusion-access-operator-manager-role_rbac.authorization.k8s.io_v1_role.yaml
  certified-bundles/0.9.3/manifests/fusion-access-operator-webhook-service_v1_service.yaml
  certified-bundles/0.9.3/manifests/fusion.storage.openshift.io_fusionaccesses.yaml
  certified-bundles/0.9.3/manifests/fusion.storage.openshift.io_localvolumediscoveries.yaml
  certified-bundles/0.9.3/manifests/fusion.storage.openshift.io_localvolumediscoveryresults.yaml
  certified-bundles/0.9.3/manifests/openshift-fusion-access-operator.clusterserviceversion.yaml
  certified-bundles/0.9.3/metadata/annotations.yaml
  certified-bundles/0.9.3/metadata/dependencies.yaml
  certified-bundles/0.9.3/tests/scorecard/config.yaml
  certified-bundles/README.txt
Due: none

Also add a ci.yaml file
  certified-bundles/ci.yaml
Due: none

Use stable-v1 for the channel name
  certified-bundles/0.9.3/metadata/annotations.yaml
Due: none

chore: remove unused folders from workspace configuration
  console/vs.code-workspace
Due: console-plugin-0-1-on-pull-request

feat: introduced build-console-frontend.sh script
  console/.gitignore
  console/scripts/build-console-frontend.sh
  console/scripts/start-console.sh
Due: console-plugin-0-1-on-pull-request

Renames workspace for clarity
  console/fusion-access.code-workspace
Due: console-plugin-0-1-on-pull-request

fix: update console build script to accept temporary directory as argument
  console/scripts/build-console-frontend.sh
  console/scripts/start-console.sh
Due: console-plugin-0-1-on-pull-request

fix: update kmm secret when token changes
  internal/controller/fusionaccess_controller.go
  internal/controller/fusionaccess_controller_test.go
  internal/controller/kernelmodule/kernelmodule.go
Due: controller-rhel9-operator-0-1-on-push

Increase max limit to 512M
  config/manager/manager.yaml
  config/manifests/bases/openshift-fusion-access-operator.clusterserviceversion.yaml
Due: controller-rhel9-operator-0-1-on-push

Drop unused old gpfs.Dockerfile
  gpfs.Dockerfile
Due: none

Fix version in bundle template
  templates/bundle.Dockerfile.template
Due: operator-bundle-0-1-on-push

Drop old pull secret bits from Makefile and dockerfile
  Makefile
  templates/operator.Dockerfile.template
Due: controller-rhel9-operator-0-1-on-push

Drop '$${VERSION}' from envsubst in console dockerfile
  Makefile
Due: none

Move to golanci-lint v2.2.2
  .github/workflows/lint.yaml
  Makefile
Due: none

Fix env variable to contain only valid characters.
  config/manager/manager.yaml
  internal/common/names.go
Due: controller-rhel9-operator-0-1-on-push

Move to a single centralized SUPPORTED_OCP_VERSIONS variable
  Makefile
  hack/add_openshift_version_annotation.sh
  templates/bundle.Dockerfile.template
  templates/console-plugin.Dockerfile.template
  templates/devicefinder.Dockerfile.template
  templates/operator.Dockerfile.template
Due: console-plugin-0-1-on-pull-request, controller-rhel9-operator-0-1-on-push, operator-bundle-0-1-on-push

Fix typo in description
  config/manifests/bases/openshift-fusion-access-operator.clusterserviceversion.yaml
Due: controller-rhel9-operator-0-1-on-push

feat: added functionality of CM watch
  internal/controller/fusionaccess_controller.go
Due: controller-rhel9-operator-0-1-on-push

Implemented reviews.
  internal/controller/fusionaccess_controller.go
Due: controller-rhel9-operator-0-1-on-push

Red Hat Konflux update operator-bundle-1-0 Signed-off-by: red-hat-konflux <konflux@no-reply.konflux-ci.dev>
  .tekton/operator-bundle-1-0-pull-request.yaml
  .tekton/operator-bundle-1-0-push.yaml
Due: none

Reuse the KMMRegistryPushPullSecret if it exists
  internal/controller/kernelmodule/kernelmodule.go
Due: controller-rhel9-operator-0-1-on-push

Fix kmm mutate function, and module creation
  internal/controller/kernelmodule/kernelmodule.go
Due: controller-rhel9-operator-0-1-on-push

Add unit tests, fix linting.
  internal/controller/kernelmodule/kernelmodule.go
  internal/controller/kernelmodule/kernelmodule_test.go
Due: controller-rhel9-operator-0-1-on-push

Add functionality to check internal registry storage backend
  cmd/main.go
  config/rbac/role.yaml
  internal/controller/fusionaccess_controller.go
  internal/controller/imageregistry/imageregistry.go
  internal/controller/imageregistry/imageregistry_test.go
Due: controller-rhel9-operator-0-1-on-push

Use the common pipeline
  .tekton/operator-bundle-1-0-pull-request.yaml
  .tekton/operator-bundle-1-0-push.yaml
Due: none

Use proper names in CEL expression
  .tekton/operator-bundle-1-0-pull-request.yaml
  .tekton/operator-bundle-1-0-push.yaml
Due: none

Red Hat Konflux update devicefinder-1-0 Signed-off-by: red-hat-konflux <konflux@no-reply.konflux-ci.dev>
  .tekton/devicefinder-1-0-pull-request.yaml
  .tekton/devicefinder-1-0-push.yaml
Due: none

fix
  .tekton/devicefinder-1-0-pull-request.yaml
  .tekton/devicefinder-1-0-push.yaml
Due: none

Use proper names in CEL expression
  .tekton/devicefinder-1-0-pull-request.yaml
  .tekton/devicefinder-1-0-push.yaml
Due: none

Red Hat Konflux update controller-rhel9-operator-1-0 Signed-off-by: red-hat-konflux <konflux@no-reply.konflux-ci.dev>
  .tekton/controller-rhel9-operator-1-0-pull-request.yaml
  .tekton/controller-rhel9-operator-1-0-push.yaml
Due: none

Path conditions:
  console-plugin-0-1-on-pull-request: (((any of: console/***) or (any of: VERSION.txt)) or (any of: .tekton/console-plugin-0-1-on-pull-request.yaml)) or (any of: templates/console-plugin.Dockerfile.template)
  controller-rhel9-operator-0-1-on-push: ((((((((any of: go.mod) or (any of: VERSION.txt)) or (any of: cmd/main.go)) or (any of: config/***)) or (any of: internal/common/***)) or (any of: internal/controller/***)) or (any of: internal/utils/***)) or (any of: templates/operator.Dockerfile.template)) or (any of: .tekton/controller-rhel9-operator-0-1-on-push.yaml)
  operator-bundle-0-1-on-push: ((((any of: templates/bundle.Dockerfile.template) or (any of: .tekton/operator-bundle-0-1-on-push.yaml)) or (any of: bundle/***)) or (any of: nudges/***)) or (any of: scripts/generate-bundle-for-konflux.sh)
