Repository openshift-storage-scale/openshift-fusion-access-operator: changes, and which Tekton pipelines are due for each by the changed paths.
All: console-plugin-0-1-on-pull-request, operator-bundle-0-1-on-push

console-plugin-0-1-on-pull-request:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/storage-scale-releng-tenant/console-plugin-rhel9:on-pr-{{revision}}
  - name: image-expires-after
    value: 5d
  - name: dockerfile
  ...

operator-bundle-0-1-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/storage-scale-releng-tenant/operator-bundle:{{revision}}
  - name: dockerfile
    value: bundle.Dockerfile
  pipelineRef:
    name: operator-bundle-common
  ...

fix: update Tekton task digests for Enterprise Contract compliance
  .tekton/console-plugin-common.yaml
  .tekton/controller-rhel9-operator-common.yaml
  .tekton/devicefinder-common.yaml
  .tekton/operator-bundle-common.yaml
  templates/bundle.Dockerfile.template
Due: operator-bundle-0-1-on-push

fix: update Tekton task digests for Enterprise Contract compliance (#1075)
  .tekton/console-plugin-common.yaml
  .tekton/controller-rhel9-operator-common.yaml
  .tekton/devicefinder-common.yaml
  .tekton/operator-bundle-common.yaml
  templates/bundle.Dockerfile.template
Due: operator-bundle-0-1-on-push

Implemented reviews posted in slack
  internal/controller/filesystemclaim/filesystemclaim_controller_creation_test.go
Due: none

test build contracts
  .tekton/controller-rhel9-operator-common.yaml
  .tekton/devicefinder-common.yaml
  .tekton/operator-bundle-common.yaml
Due: none

test build contracts
  .tekton/console-plugin-common.yaml
  .tekton/controller-rhel9-operator-common.yaml
  .tekton/devicefinder-common.yaml
  .tekton/operator-bundle-common.yaml
Due: none

contract test
  .tekton/controller-rhel9-operator-common.yaml
  .tekton/devicefinder-common.yaml
Due: none

test change
  internal/controller/fusionaccess_controller.go
Due: none

test
  internal/controller/fusionaccess_controller.go
Due: none

fix: preserve user-added labels on StorageClass and VolumeSnapshotClass
  internal/controller/filesystemclaim/filesystemclaim_controller.go
  internal/controller/filesystemclaim/filesystemclaim_controller_creation_test.go
  internal/utils/utils.go
  internal/utils/utils_test.go
Due: none

chore(deps): update to use go 1.25
  .github/workflows/lint.yaml
  Makefile
  go.mod
  templates/devicefinder.Dockerfile.template
  templates/operator.Dockerfile.template
Due: none

feat(filesystemclaim): allow adding devices after LocalDisk creation
  api/v1alpha1/filesystemclaim_webhook.go
  api/v1alpha1/filesystemclaim_webhook_test.go
  internal/controller/filesystemclaim/filesystemclaim_controller.go
  internal/controller/filesystemclaim/filesystemclaim_controller_creation_test.go
  internal/utils/utils.go
Due: none

fix(filesystemclaim): clear stale DeviceValidated errors on recovery
  internal/controller/filesystemclaim/filesystemclaim_controller.go
  internal/controller/filesystemclaim/filesystemclaim_controller_creation_test.go
Due: none

build: version 1.1.1-0.1
  VERSION.txt
  catalog-templates/1.1.1-0.1.yaml
Due: console-plugin-0-1-on-pull-request

build: version 1.1.1-1
  VERSION.txt
Due: console-plugin-0-1-on-pull-request

build: version 1.1.1-1 release bundle
  released-bundles/1.1.1-1/bundle/manifests/fusion-access-operator-console-plugin_v1_service.yaml
  released-bundles/1.1.1-1/bundle/manifests/fusion-access-operator-filesystemclaim-admin-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  released-bundles/1.1.1-1/bundle/manifests/fusion-access-operator-filesystemclaim-editor-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  released-bundles/1.1.1-1/bundle/manifests/fusion-access-operator-filesystemclaim-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  released-bundles/1.1.1-1/bundle/manifests/fusion-access-operator-fusionaccess-editor-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  released-bundles/1.1.1-1/bundle/manifests/fusion-access-operator-fusionaccess-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  released-bundles/1.1.1-1/bundle/manifests/fusion-access-operator-manager-role_rbac.authorization.k8s.io_v1_role.yaml
  released-bundles/1.1.1-1/bundle/manifests/fusion-access-operator-webhook-service_v1_service.yaml
  released-bundles/1.1.1-1/bundle/manifests/fusion.storage.openshift.io_filesystemclaims.yaml
  released-bundles/1.1.1-1/bundle/manifests/fusion.storage.openshift.io_fusionaccesses.yaml
  released-bundles/1.1.1-1/bundle/manifests/fusion.storage.openshift.io_localvolumediscoveries.yaml
  released-bundles/1.1.1-1/bundle/manifests/fusion.storage.openshift.io_localvolumediscoveryresults.yaml
  released-bundles/1.1.1-1/bundle/manifests/openshift-fusion-access-operator.clusterserviceversion.yaml
  released-bundles/1.1.1-1/bundle/metadata/annotations.yaml
  released-bundles/1.1.1-1/bundle/metadata/dependencies.yaml
  released-bundles/1.1.1-1/bundle/tests/scorecard/config.yaml
  released-bundles/1.1.1-1/cmd.txt
Due: none

chore(release): bookkeeping etc. for 1.1.1-1 release
  RELEASE.md
  certified-bundles/1.1.1-1/manifests/fusion-access-operator-console-plugin_v1_service.yaml
  certified-bundles/1.1.1-1/manifests/fusion-access-operator-filesystemclaim-admin-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  certified-bundles/1.1.1-1/manifests/fusion-access-operator-filesystemclaim-editor-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  certified-bundles/1.1.1-1/manifests/fusion-access-operator-filesystemclaim-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  certified-bundles/1.1.1-1/manifests/fusion-access-operator-fusionaccess-editor-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  certified-bundles/1.1.1-1/manifests/fusion-access-operator-fusionaccess-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  certified-bundles/1.1.1-1/manifests/fusion-access-operator-manager-role_rbac.authorization.k8s.io_v1_role.yaml
  certified-bundles/1.1.1-1/manifests/fusion-access-operator-webhook-service_v1_service.yaml
  certified-bundles/1.1.1-1/manifests/fusion.storage.openshift.io_filesystemclaims.yaml
  certified-bundles/1.1.1-1/manifests/fusion.storage.openshift.io_fusionaccesses.yaml
  certified-bundles/1.1.1-1/manifests/fusion.storage.openshift.io_localvolumediscoveries.yaml
  certified-bundles/1.1.1-1/manifests/fusion.storage.openshift.io_localvolumediscoveryresults.yaml
  certified-bundles/1.1.1-1/manifests/openshift-fusion-access-operator.clusterserviceversion.yaml
  certified-bundles/1.1.1-1/metadata/annotations.yaml
  certified-bundles/1.1.1-1/metadata/dependencies.yaml
  certified-bundles/1.1.1-1/tests/scorecard/config.yaml
  scripts/fusion-image-tool.sh
  scripts/get-bundle-image-contents.sh
  scripts/konflux-release.sh
Due: none

fix: reconcile FSC on DeviceValidationFailure
  cmd/main.go
  internal/utils/utils.go
  internal/utils/utils_test.go
  scripts/fusion-access-operator-build.sh
Due: none

build: version 1.2.0-0.1 release bundle
  CNSA_VERSION.txt
  VERSION.txt
  api/v1alpha1/fusionaccess_types.go
  catalog-templates/1.2.0-0.1.yaml
  config/crd/bases/fusion.storage.openshift.io_fusionaccesses.yaml
  config/manifests/bases/openshift-fusion-access-operator.clusterserviceversion.yaml
  config/samples/fusion_v1alpha1_fusionaccess.yaml
  console/src/shared/types/fusion-storage-openshift-io/v1alpha1/FusionAccess.ts
  files/v6.0.0.2-2026.02.10.11.02.16/install.yaml
Due: console-plugin-0-1-on-pull-request

build: version 1.2.0-0.2 release bundle
  CNSA_VERSION.txt
  VERSION.txt
  api/v1alpha1/fusionaccess_types.go
  catalog-templates/1.2.0-0.2.yaml
  config/crd/bases/fusion.storage.openshift.io_fusionaccesses.yaml
  config/crd/bases/fusion.storage.openshift.io_localvolumediscoveries.yaml
  config/manifests/bases/openshift-fusion-access-operator.clusterserviceversion.yaml
  config/samples/fusion_v1alpha1_fusionaccess.yaml
  console/src/shared/types/fusion-storage-openshift-io/v1alpha1/FusionAccess.ts
  files/v6.0.0.2.1/install.yaml
Due: console-plugin-0-1-on-pull-request

build: version 1.2.0-1
  VERSION.txt
  go.mod
  go.sum
  vendor/github.com/openshift/api/config/v1/types_apiserver.go
  vendor/github.com/openshift/api/config/v1/zz_generated.featuregated-crd-manifests.yaml
  vendor/github.com/openshift/api/config/v1/zz_generated.swagger_doc_generated.go
  vendor/github.com/openshift/api/config/v1alpha1/register.go
  vendor/github.com/openshift/api/config/v1alpha1/types_cluster_image_policy.go
  vendor/github.com/openshift/api/config/v1alpha1/types_cluster_monitoring.go
  vendor/github.com/openshift/api/config/v1alpha1/types_image_policy.go
  vendor/github.com/openshift/api/config/v1alpha1/zz_generated.deepcopy.go
  vendor/github.com/openshift/api/config/v1alpha1/zz_generated.featuregated-crd-manifests.yaml
  vendor/github.com/openshift/api/config/v1alpha1/zz_generated.swagger_doc_generated.go
  vendor/modules.txt
Due: console-plugin-0-1-on-pull-request

build: version 1.2.0-1 (#1259)
  VERSION.txt
  go.mod
  go.sum
  vendor/github.com/openshift/api/config/v1/types_apiserver.go
  vendor/github.com/openshift/api/config/v1/zz_generated.featuregated-crd-manifests.yaml
  vendor/github.com/openshift/api/config/v1/zz_generated.swagger_doc_generated.go
  vendor/github.com/openshift/api/config/v1alpha1/register.go
  vendor/github.com/openshift/api/config/v1alpha1/types_cluster_image_policy.go
  vendor/github.com/openshift/api/config/v1alpha1/types_cluster_monitoring.go
  vendor/github.com/openshift/api/config/v1alpha1/types_image_policy.go
  vendor/github.com/openshift/api/config/v1alpha1/zz_generated.deepcopy.go
  vendor/github.com/openshift/api/config/v1alpha1/zz_generated.featuregated-crd-manifests.yaml
  vendor/github.com/openshift/api/config/v1alpha1/zz_generated.swagger_doc_generated.go
  vendor/modules.txt
Due: console-plugin-0-1-on-pull-request

fix: add missing closing quote in olm.properties JSON
  VERSION.txt
  config/manifests/bases/openshift-fusion-access-operator.clusterserviceversion.yaml
Due: console-plugin-0-1-on-pull-request

chore: release bundles for 1.2.0-2
  released-bundles/1.2.0-2/bundle/manifests/fusion-access-operator-console-plugin_v1_service.yaml
  released-bundles/1.2.0-2/bundle/manifests/fusion-access-operator-filesystemclaim-admin-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  released-bundles/1.2.0-2/bundle/manifests/fusion-access-operator-filesystemclaim-editor-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  released-bundles/1.2.0-2/bundle/manifests/fusion-access-operator-filesystemclaim-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  released-bundles/1.2.0-2/bundle/manifests/fusion-access-operator-fusionaccess-editor-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  released-bundles/1.2.0-2/bundle/manifests/fusion-access-operator-fusionaccess-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  released-bundles/1.2.0-2/bundle/manifests/fusion-access-operator-manager-role_rbac.authorization.k8s.io_v1_role.yaml
  released-bundles/1.2.0-2/bundle/manifests/fusion-access-operator-webhook-service_v1_service.yaml
  released-bundles/1.2.0-2/bundle/manifests/fusion.storage.openshift.io_filesystemclaims.yaml
  released-bundles/1.2.0-2/bundle/manifests/fusion.storage.openshift.io_fusionaccesses.yaml
  released-bundles/1.2.0-2/bundle/manifests/fusion.storage.openshift.io_localvolumediscoveries.yaml
  released-bundles/1.2.0-2/bundle/manifests/fusion.storage.openshift.io_localvolumediscoveryresults.yaml
  released-bundles/1.2.0-2/bundle/manifests/openshift-fusion-access-operator.clusterserviceversion.yaml
  released-bundles/1.2.0-2/bundle/metadata/annotations.yaml
  released-bundles/1.2.0-2/bundle/metadata/dependencies.yaml
  released-bundles/1.2.0-2/bundle/tests/scorecard/config.yaml
  released-bundles/1.2.0-2/cmd.txt
Due: none

fix: use the v6.0.0.2.1 install yaml that refers to icr.io
  files/v6.0.0.2.1/install.yaml
Due: none

build: bump version to 1.2.0-3 for new release build
  VERSION.txt
Due: console-plugin-0-1-on-pull-request

Path conditions:
  console-plugin-0-1-on-pull-request: (((any of: console/***) or (any of: VERSION.txt)) or (any of: .tekton/console-plugin-0-1-on-pull-request.yaml)) or (any of: templates/console-plugin.Dockerfile.template)
  operator-bundle-0-1-on-push: ((((any of: templates/bundle.Dockerfile.template) or (any of: .tekton/operator-bundle-0-1-on-push.yaml)) or (any of: bundle/***)) or (any of: nudges/***)) or (any of: scripts/generate-bundle-for-konflux.sh)
